.popupEdit {
    z-index: 50;
    margin: 0 auto;
    left: 27%;
    position: absolute;
    top: 2%;
}
.popupEdit__header {
    padding: 2.5rem; 
    margin: 5rem; 
    margin-top: 2.5rem; 
    margin-bottom: 2.5rem; 
    border-radius: 0.5rem; 
    width: 100%; 
    max-width: 64rem; 
    background-color: #ffffff; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.popupEdit__elements {
    display: flex; 
    justify-content: space-between; 
}
.popupEdit__titile {
    margin-top: 0.25rem; 
    margin-bottom: 0.5rem; 
    align-items: center; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 600; 
    color: #6B7280;    
}
.popupEdit__form {
    text-align: left; 
}
.popupEdit__margin {
    margin-bottom: 1rem; 
}
.popupEdit__label--nombre {
    display: block; 
    margin-bottom: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #4B5563;    
}
.popupEdit__input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    width: 100%;    
}
.popupEdit__elemntForm {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 1rem; 
}
.popupEdit__label {
    display: block; 
    margin-bottom: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #4B5563;    
}
.popupEdit__input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    width: 100%; 
    
}
.popupEdit__montoTotal {
    display: block; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #4B5563;    
}